/* your styles go here */
.btn-blue {
  color: #fff;
  background-color: #396cf0 !important ;
  border-color: #396cf0 !important;
}
.btn-blue:hover {
  color: #fff;
}
.header {
  position: sticky;
  top: 0;
  z-index: 999;
}
.alert.alert-error {
  background: #f6bcc3;
}
.alert.alert-help {
  background: #91e3fd;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
}
.active_link {
  background-color: white;
}
.active_link a {
  color: black;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #005086;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #005086;
}

#sidebar ul.components {
  padding: 20px 0px;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  padding: 10px;
  font-size: 15px;
  display: block;
  color: #fff;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  text-decoration: none;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #318fb5;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #318fb5;
}

#sidebar ul.CTAs {
  padding: 20px;
}

#sidebar ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download,
a.download:hover {
  background: #318fb5;
  color: #fff;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
#profile {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

.content-wrapper {
  padding: 15px;
}
.Confirmed {
  color: #212529;
  background-color: #ffc107;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  border-radius: 0;
  font-weight: 400;
  padding: 0.35rem 0.5rem;
}
.Pending {
  color: #fff;
  background-color: #dc3545;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  border-radius: 0;
  font-weight: 400;
  padding: 0.35rem 0.5rem;
}
.btn-show-Confirmed {
  display: none;
}
